.alignCenter {
    text-align: center;
    align-items: center;
    flex: 1; 
    justify-content: center;
}

.list-group-item.active {
    background-color: transparent;
    border-color: blue; 
    color: black;
}
